[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
bleach = "*"
geopy = "*"
django-leaflet = "*"
python-dateutil = "*"
gunicorn = "*"
whitenoise = "*"
python-dotenv = "*"
dj-database-url = "*"
django-geojson = "*"

[dev-packages]

[requires]
python_version = "3.11"
